@model Thesis_BIM_Website.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BIM</h1>
    <p>Never forget your payments again, sign in or create an account below</p>

    @using (Html.BeginForm())
    {
        @Html.EditorFor(m => m);
        <br />
        <input type="submit" value="Register" class="btn btn-primary" />
    }
        <br />
    <a href='@Url.Action("Login", "Account")'>
        <input type="submit" value="Go back" class="btn btn-primary" />
    </a>
</div>