@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Welcome @User.Identity.Name</h1>
        <p>
            Go to <a asp-controller="Invoices" asp-action="Create">Invoices</a>
            to create a reminder.
        </p>
    }
    else
    {
        <h1 class="display-4">Welcome to BIM</h1>
        <p>Never forget your payments again</p>
    }
</div>
