@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4" style="color: antiquewhite">Welcome @User.Identity.Name</h1>
        <p style="color: antiquewhite">
            Go to <a asp-controller="Invoices" asp-action="Create">Invoices</a>
            to create a reminder.
        </p>
    }
    else
    {

        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Forgot to pay your bill?</span>
                            <span class="section-heading-lower">Afraid of missing the paydate?</span>
                        </h2>
                        <p class="mb-3">
                            With BIM you will never forget an payment again. Create an invoice or manage your bills. Even better, you can also scan your invoice from our application and send it directly to our website.
                        </p>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="">Invoices</a>
                            </li>
                        }
                        <div class="intro-button mx-auto">
                            <a class="btn btn-primary btn-xl" asp-controller="Invoices" asp-action="Index">Try Us Today!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Our Promise</span>
                                <span class="section-heading-lower">To You</span>
                            </h2>
                            <p class="mb-0"> When you use our service, you will be reminded on your phone when the paydate is due!</p>
                            <p class="mb-0 font-weight-bold" style=""> Never forget your payments again.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</div>
